Repository satlayer/baby-lst, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, scripts, test, documentation, staking_hub, lst_token, validators_registry

.github/labeler.yml:

cicd:
  - ".github/workflows/*"

scripts:
  - "scripts/*"

test:
  - "test/**"

documentation:
  - "**/*.md"

staking_hub:
  - "contracts/lst_staking_hub/**"

lst_token:
  - "contracts/lst_token/**"

validators_registry:
  - "contracts/lst_validators_registry/**"

feat: add bounds check in epoch length and unstaking period
  contracts/lst_common/src/errors.rs
  contracts/lst_staking_hub/src/config.rs
  contracts/lst_staking_hub/src/constants.rs
  contracts/lst_staking_hub/src/contract.rs
Labels: staking_hub

fix: Audit ISSUE-3 (#20)
  Cargo.lock
  contracts/lst_validators_registry/Cargo.toml
  contracts/lst_validators_registry/src/contract.rs
  contracts/lst_validators_registry/src/helper.rs
  contracts/lst_validators_registry/src/lib.rs
Labels: validators_registry

fix: use cw20_msg.sender instead of info.sender (#21)
  contracts/lst_staking_hub/src/contract.rs
Labels: staking_hub

feat: add a check for max 30% fee (#26)
  contracts/lst_common/src/errors.rs
  contracts/lst_reward_dispatcher/src/contract.rs
  contracts/lst_reward_dispatcher/src/lib.rs
Labels: none

chore: update cargo.lock
  Cargo.lock
Labels: none

fix: issue-4 improper unstake handling logic (#22)
  Cargo.lock
  contracts/lst_common/src/hub.rs
  contracts/lst_staking_hub/src/contract.rs
  contracts/lst_staking_hub/src/state.rs
  contracts/lst_staking_hub/src/unstake.rs
Labels: staking_hub

chore: add process undelegation doc
  contracts/lst_common/src/hub.rs
  contracts/lst_staking_hub/schema/lst_staking_hub.json
  contracts/lst_staking_hub/schema/raw/execute.json
  contracts/lst_staking_hub/schema/raw/instantiate.json
Labels: staking_hub

docs: Add description in the contract methods (#19)
  contracts/lst_common/src/hub.rs
  contracts/lst_common/src/rewards_msg.rs
  contracts/lst_common/src/validator.rs
  contracts/lst_reward_dispatcher/schema/lst_reward_dispatcher.json
  contracts/lst_reward_dispatcher/schema/raw/execute.json
  contracts/lst_reward_dispatcher/schema/raw/instantiate.json
  contracts/lst_reward_dispatcher/schema/raw/query.json
  contracts/lst_reward_dispatcher/schema/raw/response_to_config.json
  contracts/lst_staking_hub/schema/lst_staking_hub.json
  contracts/lst_staking_hub/schema/raw/execute.json
  contracts/lst_staking_hub/schema/raw/instantiate.json
  contracts/lst_staking_hub/schema/raw/query.json
  contracts/lst_staking_hub/schema/raw/response_to_all_history.json
  contracts/lst_staking_hub/schema/raw/response_to_config.json
  contracts/lst_staking_hub/schema/raw/response_to_current_batch.json
  contracts/lst_staking_hub/schema/raw/response_to_unstake_requests.json
  contracts/lst_staking_hub/schema/raw/response_to_withdrawable_unstaked.json
  contracts/lst_validators_registry/schema/lst_validators_registry.json
  contracts/lst_validators_registry/schema/raw/execute.json
  contracts/lst_validators_registry/schema/raw/instantiate.json
  contracts/lst_validators_registry/schema/raw/query.json
  contracts/lst_validators_registry/schema/raw/response_to_config.json
  contracts/lst_validators_registry/schema/raw/response_to_validators_delegation.json
Labels: staking_hub, validators_registry

feat: add bounds check in epoch length and unstaking period (#27)
  contracts/lst_common/src/errors.rs
  contracts/lst_staking_hub/src/config.rs
  contracts/lst_staking_hub/src/constants.rs
  contracts/lst_staking_hub/src/contract.rs
Labels: staking_hub

fix: import Coin
  contracts/lst_staking_hub/Cargo.toml
  contracts/lst_staking_hub/src/contract.rs
  contracts/lst_staking_hub/src/unstake.rs
Labels: staking_hub

chore: use trait to construct anymsg for babylon epoching proto structs
  Cargo.lock
  contracts/lst_common/src/babylon.epoching.v1.rs
  contracts/lst_common/src/lib.rs
  contracts/lst_common/src/types.rs
  contracts/lst_staking_hub/src/contract.rs
  contracts/lst_staking_hub/src/stake.rs
  contracts/lst_staking_hub/src/unstake.rs
Labels: staking_hub

refactor: babylon epoching (#23)
  Cargo.lock
  Cargo.toml
  contracts/lst_common/Cargo.toml
  contracts/lst_common/src/babylon.epoching.v1.rs
  contracts/lst_common/src/babylon_msg.rs
  contracts/lst_common/src/lib.rs
  contracts/lst_common/src/types.rs
  contracts/lst_staking_hub/src/config.rs
  contracts/lst_staking_hub/src/contract.rs
  contracts/lst_staking_hub/src/query.rs
  contracts/lst_staking_hub/src/stake.rs
  contracts/lst_staking_hub/src/unstake.rs
Labels: staking_hub

chore: rename to total staked amount
  contracts/lst_common/src/hub.rs
  contracts/lst_staking_hub/src/contract.rs
  contracts/lst_staking_hub/src/stake.rs
  contracts/lst_staking_hub/src/unstake.rs
Labels: staking_hub

chore: optimize methods in unstake and add comments
  contracts/lst_staking_hub/src/unstake.rs
Labels: staking_hub

chore: add more clarity to variable names
  contracts/lst_staking_hub/src/unstake.rs
Labels: staking_hub

feat: use applied exchange rate while calculating the output amount
  contracts/lst_staking_hub/src/query.rs
  contracts/lst_staking_hub/src/state.rs
  contracts/lst_staking_hub/src/unstake.rs
Labels: staking_hub

feat: optimize the withdraw rate calculation method
  contracts/lst_staking_hub/src/query.rs
  contracts/lst_staking_hub/src/unstake.rs
Labels: staking_hub

feat: optimize withdraw unstaked method
  contracts/lst_staking_hub/src/unstake.rs
Labels: staking_hub

doc: add variable descriptions
  contracts/lst_staking_hub/src/query.rs
  contracts/lst_staking_hub/src/state.rs
Labels: staking_hub

chore: format code
  contracts/lst_staking_hub/src/unstake.rs
Labels: staking_hub

feat: add new method to process withdraw rate by anyone
  contracts/lst_common/src/hub.rs
  contracts/lst_staking_hub/src/contract.rs
  contracts/lst_staking_hub/src/unstake.rs
Labels: staking_hub

chore: update json schema
  contracts/lst_staking_hub/schema/lst_staking_hub.json
  contracts/lst_staking_hub/schema/raw/execute.json
  contracts/lst_staking_hub/schema/raw/response_to_state.json
  contracts/lst_staking_hub/src/state.rs
Labels: staking_hub

chore: add descriptive message in case of failure in burnFrom flow
  contracts/lst_common/src/errors.rs
  contracts/lst_staking_hub/src/unstake.rs
Labels: staking_hub

feat: simplify methods implementation in unstake module (#30)
  Cargo.lock
  contracts/lst_common/src/hub.rs
  contracts/lst_staking_hub/schema/lst_staking_hub.json
  contracts/lst_staking_hub/schema/raw/execute.json
  contracts/lst_staking_hub/schema/raw/response_to_state.json
  contracts/lst_staking_hub/src/contract.rs
  contracts/lst_staking_hub/src/query.rs
  contracts/lst_staking_hub/src/stake.rs
  contracts/lst_staking_hub/src/state.rs
  contracts/lst_staking_hub/src/unstake.rs
Labels: staking_hub

chore: add descriptive message in case of failure in burnFrom flow (#31)
  contracts/lst_common/src/errors.rs
  contracts/lst_staking_hub/src/unstake.rs
Labels: staking_hub

feat: return more detailed information in unstake response
  contracts/lst_common/src/hub.rs
  contracts/lst_staking_hub/src/contract.rs
  contracts/lst_staking_hub/src/query.rs
  contracts/lst_staking_hub/src/state.rs
  contracts/lst_staking_hub/src/unstake.rs
Labels: staking_hub

chore: update schema
  contracts/lst_staking_hub/schema/lst_staking_hub.json
  contracts/lst_staking_hub/schema/raw/query.json
  contracts/lst_staking_hub/schema/raw/response_to_all_history.json
  contracts/lst_staking_hub/schema/raw/response_to_unstake_requests_limit.json
Labels: staking_hub

chore: fmt
  contracts/lst_staking_hub/src/query.rs
Labels: staking_hub

wip: staking integration
  Cargo.lock
  Cargo.toml
  contracts/lst_integration/Cargo.toml
  contracts/lst_integration/tests/setup.rs
  contracts/lst_integration/tests/test_hub.rs
  contracts/lst_staking_hub/Cargo.toml
  contracts/lst_staking_hub/src/stake.rs
  contracts/lst_staking_hub/src/unstake.rs
Labels: staking_hub

fix: make start inclusive in limit query
  contracts/lst_staking_hub/src/query.rs
Labels: staking_hub

feat: add events on rate and total staked change
  contracts/lst_common/src/hub.rs
  contracts/lst_staking_hub/src/constants.rs
  contracts/lst_staking_hub/src/contract.rs
  contracts/lst_staking_hub/src/query.rs
  contracts/lst_staking_hub/src/stake.rs
  contracts/lst_staking_hub/src/unstake.rs
Labels: staking_hub

feat: add withdraw method by providing batch ids
  Cargo.toml
  contracts/lst_common/src/hub.rs
  contracts/lst_staking_hub/src/contract.rs
  contracts/lst_staking_hub/src/state.rs
  contracts/lst_staking_hub/src/unstake.rs
Labels: staking_hub

feat: add events during the unstake changes
  contracts/lst_staking_hub/src/contract.rs
  contracts/lst_staking_hub/src/stake.rs
  contracts/lst_staking_hub/src/state.rs
  contracts/lst_staking_hub/src/unstake.rs
Labels: staking_hub

chore: change case for event name
  contracts/lst_staking_hub/src/constants.rs
Labels: staking_hub

chore: update the schema
  contracts/lst_staking_hub/schema/lst_staking_hub.json
  contracts/lst_staking_hub/schema/raw/execute.json
Labels: staking_hub

feat: update rate on minting case on stake
  contracts/lst_staking_hub/src/stake.rs
Labels: staking_hub

feat: remove pausing token transfers on hub pause
  contracts/lst_token/src/contract.rs
Labels: lst_token

feat: check if lst token is already set
  contracts/lst_common/src/errors.rs
  contracts/lst_staking_hub/src/config.rs
Labels: staking_hub

feat: query and claim by batch ids (#32)
  Cargo.toml
  contracts/lst_common/src/hub.rs
  contracts/lst_staking_hub/schema/lst_staking_hub.json
  contracts/lst_staking_hub/schema/raw/execute.json
  contracts/lst_staking_hub/schema/raw/query.json
  contracts/lst_staking_hub/schema/raw/response_to_all_history.json
  contracts/lst_staking_hub/schema/raw/response_to_unstake_requests_limit.json
  contracts/lst_staking_hub/src/constants.rs
  contracts/lst_staking_hub/src/contract.rs
  contracts/lst_staking_hub/src/query.rs
  contracts/lst_staking_hub/src/stake.rs
  contracts/lst_staking_hub/src/state.rs
  contracts/lst_staking_hub/src/unstake.rs
Labels: staking_hub

test: comment out slashing
  contracts/lst_staking_hub/src/contract.rs
Labels: staking_hub
