Repository satlayer/baby-lst, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, scripts, test, documentation, staking_hub, lst_token, validators_registry

chore(lint): remove duplicate error enum field
  contracts/lst_common/src/errors.rs
Labels: none

feat: Validator Registry (#5)
  contracts/lst_common/src/errors.rs
  contracts/lst_staking_hub/src/contract.rs
Labels: staking_hub

fix(hub): use common lib types in hub
  Cargo.lock
  contracts/lst_common/src/errors.rs
  contracts/lst_common/src/hub.rs
  contracts/lst_staking_hub/src/config.rs
  contracts/lst_staking_hub/src/contract.rs
  contracts/lst_staking_hub/src/lib.rs
  contracts/lst_staking_hub/src/msg.rs
  contracts/lst_staking_hub/src/stake.rs
  contracts/lst_staking_hub/src/staking.rs
  contracts/lst_staking_hub/src/state.rs
  contracts/lst_staking_hub/src/unstake.rs
  contracts/lst_token/Cargo.toml
  scripts/optimize.sh
Labels: scripts, staking_hub, lst_token

chore(hub): remove cw20 crate from hub workspace
  Cargo.lock
  Cargo.toml
  contracts/lst_staking_hub/Cargo.toml
  contracts/lst_staking_hub/src/contract.rs
  contracts/lst_staking_hub/src/stake.rs
  contracts/lst_staking_hub/src/unstake.rs
  contracts/lst_token/Cargo.toml
Labels: staking_hub, lst_token

fix: hub (#8)
  Cargo.lock
  Cargo.toml
  contracts/lst_common/src/errors.rs
  contracts/lst_common/src/hub.rs
  contracts/lst_staking_hub/Cargo.toml
  contracts/lst_staking_hub/src/config.rs
  contracts/lst_staking_hub/src/contract.rs
  contracts/lst_staking_hub/src/lib.rs
  contracts/lst_staking_hub/src/msg.rs
  contracts/lst_staking_hub/src/stake.rs
  contracts/lst_staking_hub/src/staking.rs
  contracts/lst_staking_hub/src/state.rs
  contracts/lst_staking_hub/src/unstake.rs
  contracts/lst_token/Cargo.toml
  scripts/optimize.sh
Labels: scripts, staking_hub, lst_token

feat: optimize unstake
  contracts/lst_staking_hub/src/unstake.rs
Labels: staking_hub

feat(hub): add execute msg to update params
  contracts/lst_common/src/hub.rs
  contracts/lst_staking_hub/src/config.rs
  contracts/lst_staking_hub/src/contract.rs
  contracts/lst_staking_hub/src/state.rs
Labels: staking_hub

feat(hub): execute msg to update the contract config
  contracts/lst_common/src/hub.rs
  contracts/lst_staking_hub/src/config.rs
  contracts/lst_staking_hub/src/contract.rs
Labels: staking_hub

feat: hub update config and params (#9)
  contracts/lst_common/src/hub.rs
  contracts/lst_staking_hub/src/config.rs
  contracts/lst_staking_hub/src/contract.rs
  contracts/lst_staking_hub/src/state.rs
Labels: staking_hub

feat: add withdraw unstaked amount method
  Cargo.lock
  contracts/lst_common/Cargo.toml
  contracts/lst_common/src/errors.rs
  contracts/lst_common/src/lib.rs
  contracts/lst_common/src/signed_integer.rs
  contracts/lst_staking_hub/src/contract.rs
  contracts/lst_staking_hub/src/math.rs
  contracts/lst_staking_hub/src/stake.rs
  contracts/lst_staking_hub/src/state.rs
  contracts/lst_staking_hub/src/unstake.rs
Labels: staking_hub

chore: fmt all files in the repo
  contracts/lst_common/src/lib.rs
  contracts/lst_common/src/signed_integer.rs
Labels: none

feat(script): build contract and optimize wasm
  scripts/helper.sh
  scripts/optimize.sh
Labels: scripts

chore(git): add artifacts dir to ignore list
  .gitignore
Labels: none

feat(script): upload latest wasm to babylon chain and store code_id to json
  scripts/env.sh
  scripts/store.sh
Labels: scripts

chore: remove unused imports
  contracts/lst_staking_hub/src/contract.rs
  contracts/lst_staking_hub/src/state.rs
  contracts/lst_staking_hub/src/unstake.rs
Labels: staking_hub

chore(git): add shell output json files
  .gitignore
Labels: none

feat: add instantiate method implementation
  Cargo.lock
  Cargo.toml
  contracts/lst_common/Cargo.toml
  contracts/lst_common/src/errors.rs
  contracts/lst_common/src/hub.rs
  contracts/lst_staking_hub/Cargo.toml
  contracts/lst_staking_hub/src/contract.rs
  contracts/lst_staking_hub/src/lib.rs
  contracts/lst_staking_hub/src/staking.rs
  contracts/lst_token/Cargo.toml
Labels: staking_hub, lst_token

chore: remove unused imports
  contracts/lst_staking_hub/src/contract.rs
Labels: staking_hub

feat: implement the todo parts in stake method
  contracts/lst_staking_hub/src/stake.rs
Labels: staking_hub

fix: use of rewards msg from common package
  Cargo.lock
  contracts/lst_common/src/lib.rs
  contracts/lst_common/src/rewards_msg.rs
  contracts/lst_reward_dispatcher/src/bin/schema.rs
  contracts/lst_reward_dispatcher/src/contract.rs
  contracts/lst_reward_dispatcher/src/lib.rs
  contracts/lst_reward_dispatcher/src/state.rs
  contracts/lst_staking_hub/Cargo.toml
  contracts/lst_staking_hub/src/contract.rs
Labels: staking_hub

chore: update staking hub json schema
  .github/workflows/rust.yml
  contracts/lst_staking_hub/schema/lst_staking_hub.json
  contracts/lst_staking_hub/schema/raw/execute.json
  contracts/lst_staking_hub/schema/raw/query.json
  contracts/lst_staking_hub/schema/raw/response_to_parameters.json
Labels: cicd, staking_hub

feat: remove staking coin denom as changeable params
  contracts/lst_common/src/hub.rs
  contracts/lst_staking_hub/schema/lst_staking_hub.json
  contracts/lst_staking_hub/schema/raw/execute.json
  contracts/lst_staking_hub/src/config.rs
  contracts/lst_staking_hub/src/contract.rs
Labels: staking_hub

feat(script): instantiate contract
  scripts/instantiate.sh
Labels: scripts

feat: move validators msg to common
  contracts/lst_common/src/delegation.rs
  contracts/lst_common/src/lib.rs
  contracts/lst_common/src/msg.rs
  contracts/lst_common/src/validators_msg.rs
  contracts/lst_staking_hub/src/error.rs
  contracts/lst_staking_hub/src/lib.rs
  contracts/lst_staking_hub/src/msg.rs
  contracts/lst_staking_hub/src/stake.rs
  contracts/lst_staking_hub/src/unstake.rs
  contracts/lst_validators_registry/src/bin/schema.rs
  contracts/lst_validators_registry/src/contract.rs
  contracts/lst_validators_registry/src/lib.rs
  contracts/lst_validators_registry/src/state.rs
Labels: staking_hub, validators_registry

feat: add query methods, left the implementations
  contracts/lst_common/src/hub.rs
  contracts/lst_staking_hub/src/contract.rs
  contracts/lst_staking_hub/src/lib.rs
  contracts/lst_staking_hub/src/query.rs
  contracts/lst_staking_hub/src/state.rs
  contracts/lst_staking_hub/src/unstake.rs
Labels: staking_hub

feat: add lst hub methods (#7)
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  contracts/lst_common/Cargo.toml
  contracts/lst_common/src/errors.rs
  contracts/lst_common/src/hub.rs
  contracts/lst_common/src/lib.rs
  contracts/lst_common/src/rewards_msg.rs
  contracts/lst_common/src/signed_integer.rs
  contracts/lst_reward_dispatcher/src/bin/schema.rs
  contracts/lst_reward_dispatcher/src/contract.rs
  contracts/lst_reward_dispatcher/src/lib.rs
  contracts/lst_reward_dispatcher/src/state.rs
  contracts/lst_staking_hub/Cargo.toml
  contracts/lst_staking_hub/schema/lst_staking_hub.json
  contracts/lst_staking_hub/schema/raw/execute.json
  contracts/lst_staking_hub/schema/raw/instantiate.json
  contracts/lst_staking_hub/schema/raw/query.json
  contracts/lst_staking_hub/schema/raw/response_to_config.json
  contracts/lst_staking_hub/schema/raw/response_to_exchange_rate.json
  contracts/lst_staking_hub/schema/raw/response_to_parameters.json
  contracts/lst_staking_hub/schema/raw/response_to_total_staked.json
  contracts/lst_staking_hub/src/config.rs
  contracts/lst_staking_hub/src/constants.rs
  contracts/lst_staking_hub/src/contract.rs
  contracts/lst_staking_hub/src/error.rs
  contracts/lst_staking_hub/src/lib.rs
  contracts/lst_staking_hub/src/math.rs
  contracts/lst_staking_hub/src/msg.rs
  contracts/lst_staking_hub/src/stake.rs
  contracts/lst_staking_hub/src/staking.rs
  contracts/lst_staking_hub/src/state.rs
  contracts/lst_staking_hub/src/unstake.rs
  contracts/lst_token/Cargo.toml
  scripts/optimize.sh
Labels: cicd, scripts, staking_hub, lst_token

feat: add query methods implementation
  contracts/lst_common/src/hub.rs
  contracts/lst_staking_hub/src/contract.rs
  contracts/lst_staking_hub/src/query.rs
Labels: staking_hub

chore: update schema
  contracts/lst_staking_hub/schema/lst_staking_hub.json
  contracts/lst_staking_hub/schema/raw/query.json
  contracts/lst_staking_hub/schema/raw/response_to_all_history.json
  contracts/lst_staking_hub/schema/raw/response_to_config.json
  contracts/lst_staking_hub/schema/raw/response_to_current_batch.json
  contracts/lst_staking_hub/schema/raw/response_to_state.json
  contracts/lst_staking_hub/schema/raw/response_to_unstake_requests.json
  contracts/lst_staking_hub/schema/raw/response_to_withdrawable_unstaked.json
Labels: staking_hub

test(reward-dispatcher): config serialzation deserialzation
  Cargo.lock
  Cargo.toml
  contracts/lst_reward_dispatcher/Cargo.toml
  contracts/lst_reward_dispatcher/src/state.rs
Labels: none

chore: port canonicaladdr to addr
  contracts/lst_common/src/rewards_msg.rs
  contracts/lst_reward_dispatcher/src/contract.rs
  contracts/lst_validators_registry/src/contract.rs
  contracts/lst_validators_registry/src/state.rs
Labels: validators_registry

chore: merge main
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  contracts/lst_common/Cargo.toml
  contracts/lst_common/src/errors.rs
  contracts/lst_common/src/hub.rs
  contracts/lst_common/src/lib.rs
  contracts/lst_common/src/rewards_msg.rs
  contracts/lst_common/src/signed_integer.rs
  contracts/lst_reward_dispatcher/src/bin/schema.rs
  contracts/lst_reward_dispatcher/src/contract.rs
  contracts/lst_reward_dispatcher/src/lib.rs
  contracts/lst_reward_dispatcher/src/state.rs
  contracts/lst_staking_hub/Cargo.toml
  contracts/lst_staking_hub/schema/lst_staking_hub.json
  contracts/lst_staking_hub/schema/raw/execute.json
  contracts/lst_staking_hub/schema/raw/instantiate.json
  contracts/lst_staking_hub/schema/raw/query.json
  contracts/lst_staking_hub/schema/raw/response_to_config.json
  contracts/lst_staking_hub/schema/raw/response_to_exchange_rate.json
  contracts/lst_staking_hub/schema/raw/response_to_parameters.json
  contracts/lst_staking_hub/schema/raw/response_to_total_staked.json
  contracts/lst_staking_hub/src/config.rs
  contracts/lst_staking_hub/src/constants.rs
  contracts/lst_staking_hub/src/contract.rs
  contracts/lst_staking_hub/src/error.rs
  contracts/lst_staking_hub/src/lib.rs
  contracts/lst_staking_hub/src/math.rs
  contracts/lst_staking_hub/src/msg.rs
  contracts/lst_staking_hub/src/stake.rs
  contracts/lst_staking_hub/src/staking.rs
  contracts/lst_staking_hub/src/state.rs
  contracts/lst_staking_hub/src/unstake.rs
  contracts/lst_token/Cargo.toml
  scripts/optimize.sh
Labels: cicd, scripts, staking_hub, lst_token

chore: merge main
  scripts/optimize.sh
Labels: scripts

chore: port canonicaladdr to addr (#13)
  contracts/lst_common/src/rewards_msg.rs
  contracts/lst_reward_dispatcher/src/contract.rs
  contracts/lst_validators_registry/src/contract.rs
  contracts/lst_validators_registry/src/state.rs
Labels: validators_registry

feat: shell scripts (#10)
  .gitignore
  scripts/env.sh
  scripts/helper.sh
  scripts/instantiate.sh
  scripts/optimize.sh
  scripts/store.sh
Labels: scripts

chore(hub): change canonicaladdr fields to addr
  contracts/lst_common/src/hub.rs
  contracts/lst_staking_hub/src/config.rs
  contracts/lst_staking_hub/src/contract.rs
  contracts/lst_staking_hub/src/math.rs
  contracts/lst_staking_hub/src/stake.rs
  contracts/lst_staking_hub/src/unstake.rs
Labels: staking_hub

chore(script): add artifacts on store script
  scripts/store.sh
Labels: scripts

chore(validator): add UpdateGlobalIndex msg on remove validator
  contracts/lst_validators_registry/src/contract.rs
Labels: validators_registry

feat: add lst staking hub query methods (#11)
  contracts/lst_common/src/delegation.rs
  contracts/lst_common/src/hub.rs
  contracts/lst_common/src/lib.rs
  contracts/lst_common/src/msg.rs
  contracts/lst_common/src/validator.rs
  contracts/lst_staking_hub/schema/lst_staking_hub.json
  contracts/lst_staking_hub/schema/raw/query.json
  contracts/lst_staking_hub/schema/raw/response_to_all_history.json
  contracts/lst_staking_hub/schema/raw/response_to_config.json
  contracts/lst_staking_hub/schema/raw/response_to_current_batch.json
  contracts/lst_staking_hub/schema/raw/response_to_state.json
  contracts/lst_staking_hub/schema/raw/response_to_unstake_requests.json
  contracts/lst_staking_hub/schema/raw/response_to_withdrawable_unstaked.json
  contracts/lst_staking_hub/src/contract.rs
  contracts/lst_staking_hub/src/lib.rs
  contracts/lst_staking_hub/src/query.rs
  contracts/lst_staking_hub/src/stake.rs
  contracts/lst_staking_hub/src/state.rs
  contracts/lst_staking_hub/src/unstake.rs
  contracts/lst_validators_registry/src/bin/schema.rs
  contracts/lst_validators_registry/src/contract.rs
  contracts/lst_validators_registry/src/lib.rs
  contracts/lst_validators_registry/src/state.rs
Labels: staking_hub, validators_registry

refactor(query): simplify config respone in query_config function
  contracts/lst_staking_hub/src/query.rs
Labels: staking_hub

fix: port canonicaladdr to addr (hub) (#14)
  contracts/lst_common/src/hub.rs
  contracts/lst_staking_hub/src/config.rs
  contracts/lst_staking_hub/src/contract.rs
  contracts/lst_staking_hub/src/math.rs
  contracts/lst_staking_hub/src/query.rs
  contracts/lst_staking_hub/src/stake.rs
  contracts/lst_staking_hub/src/unstake.rs
  contracts/lst_validators_registry/src/contract.rs
  scripts/store.sh
Labels: scripts, staking_hub, validators_registry

.github/labeler.yml:

cicd:
  - ".github/workflows/*"

scripts:
  - "scripts/*"

test:
  - "test/**"

documentation:
  - "**/*.md"

staking_hub:
  - "contracts/lst_staking_hub/**"

lst_token:
  - "contracts/lst_token/**"

validators_registry:
  - "contracts/lst_validators_registry/**"
