Repository satlayer/baby-lst, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, scripts, test, documentation, staking_hub, lst_token, validators_registry

docs: add deployment scripts documentationa and cleanup boilerplate docs
  DEPLOYMENT.md
  Developing.md
  Importing.md
  Publishing.md
  README.md
Labels: documentation

docs: deployment guide (#15)
  DEPLOYMENT.md
  Developing.md
  Importing.md
  Publishing.md
  README.md
Labels: documentation

cleanup: remove lst_reward_hub contract
  Cargo.lock
  contracts/lst_reward_hub/Cargo.toml
  contracts/lst_reward_hub/src/lib.rs
Labels: none

chore: remove `lst_reward_hub` contract (#16)
  Cargo.lock
  contracts/lst_reward_hub/Cargo.toml
  contracts/lst_reward_hub/src/lib.rs
Labels: none

chore: remove unused files in staking hub
  contracts/lst_staking_hub/src/error.rs
  contracts/lst_staking_hub/src/msg.rs
Labels: staking_hub

feat: add test suite
  Cargo.lock
  Cargo.toml
  contracts/lst_common/Cargo.toml
  contracts/lst_common/src/lib.rs
  contracts/lst_common/src/tests/mod.rs
  contracts/lst_common/src/tests/test_suite.rs
Labels: none

feat: add test suite (#18)
  Cargo.lock
  Cargo.toml
  contracts/lst_common/Cargo.toml
  contracts/lst_common/src/lib.rs
  contracts/lst_common/src/tests/mod.rs
  contracts/lst_common/src/tests/test_suite.rs
Labels: none

chore: remove unused files in staking hub (#17)
  contracts/lst_staking_hub/src/error.rs
  contracts/lst_staking_hub/src/msg.rs
Labels: staking_hub

test: add test for instantiate hub contract
  Cargo.lock
  contracts/lst_staking_hub/Cargo.toml
  contracts/lst_staking_hub/src/lib.rs
  contracts/lst_staking_hub/src/state.rs
  contracts/lst_staking_hub/src/testing/mod.rs
  contracts/lst_staking_hub/src/testing/setup.rs
  contracts/lst_staking_hub/src/testing/test_instantiate.rs
Labels: staking_hub

doc: add doc for the contract methods
  contracts/lst_common/src/hub.rs
  contracts/lst_common/src/rewards_msg.rs
  contracts/lst_common/src/validator.rs
Labels: none

chore: update json schema with the method description
  contracts/lst_reward_dispatcher/schema/lst_reward_dispatcher.json
  contracts/lst_reward_dispatcher/schema/raw/execute.json
  contracts/lst_reward_dispatcher/schema/raw/instantiate.json
  contracts/lst_reward_dispatcher/schema/raw/query.json
  contracts/lst_reward_dispatcher/schema/raw/response_to_config.json
  contracts/lst_staking_hub/schema/lst_staking_hub.json
  contracts/lst_staking_hub/schema/raw/execute.json
  contracts/lst_staking_hub/schema/raw/instantiate.json
  contracts/lst_staking_hub/schema/raw/query.json
  contracts/lst_staking_hub/schema/raw/response_to_all_history.json
  contracts/lst_staking_hub/schema/raw/response_to_config.json
  contracts/lst_staking_hub/schema/raw/response_to_current_batch.json
  contracts/lst_staking_hub/schema/raw/response_to_unstake_requests.json
  contracts/lst_staking_hub/schema/raw/response_to_withdrawable_unstaked.json
  contracts/lst_validators_registry/schema/lst_validators_registry.json
  contracts/lst_validators_registry/schema/raw/execute.json
  contracts/lst_validators_registry/schema/raw/instantiate.json
  contracts/lst_validators_registry/schema/raw/query.json
  contracts/lst_validators_registry/schema/raw/response_to_config.json
  contracts/lst_validators_registry/schema/raw/response_to_validators_delegation.json
Labels: staking_hub, validators_registry

feat: add helper fn to convert account address to validator address and validate the address by quering chain for validator info
  Cargo.lock
  contracts/lst_validators_registry/Cargo.toml
  contracts/lst_validators_registry/src/contract.rs
  contracts/lst_validators_registry/src/helper.rs
  contracts/lst_validators_registry/src/lib.rs
Labels: validators_registry

fix: use cw20_msg.sender instead of info.sender
  contracts/lst_staking_hub/src/contract.rs
Labels: staking_hub

feat: use burn and burnFrom flow for different unstake flow
  contracts/lst_staking_hub/src/contract.rs
  contracts/lst_staking_hub/src/state.rs
  contracts/lst_staking_hub/src/unstake.rs
Labels: staking_hub

WIP: wrapping babylong epching module for delegation
  contracts/lst_common/Cargo.toml
  contracts/lst_common/src/epoching.rs
  contracts/lst_common/src/lib.rs
  contracts/lst_common/src/types.rs
  contracts/lst_staking_hub/Cargo.toml
  contracts/lst_staking_hub/src/config.rs
  contracts/lst_staking_hub/src/contract.rs
  contracts/lst_staking_hub/src/lib.rs
  contracts/lst_staking_hub/src/stake.rs
  scripts/optimize.sh
Labels: scripts, staking_hub

feat: add new method to process undelegation requests
  contracts/lst_common/src/hub.rs
  contracts/lst_staking_hub/src/contract.rs
  contracts/lst_staking_hub/src/unstake.rs
Labels: staking_hub

fix: use the unified Cargo.toml
  Cargo.lock
  Cargo.toml
  contracts/lst_common/Cargo.toml
  contracts/lst_common/src/babylon.epoching.v1.rs
  contracts/lst_common/src/lib.rs
  contracts/lst_custom_msg/Cargo.toml
  contracts/lst_custom_msg/src/contract.rs
  contracts/lst_custom_msg/src/error.rs
  contracts/lst_custom_msg/src/lib.rs
  contracts/lst_custom_msg/src/msg.rs
  contracts/lst_reward_dispatcher/Cargo.toml
  contracts/lst_token/Cargo.toml
  contracts/lst_validators_registry/Cargo.toml
Labels: lst_token, validators_registry

fix: update cosmos sdk and prost version
  Cargo.lock
  Cargo.toml
  contracts/lst_custom_msg/src/contract.rs
Labels: none

fix: use Any and contract address as delegator
  contracts/lst_common/src/babylon.epoching.v1.rs
  contracts/lst_common/src/binding.rs
  contracts/lst_common/src/lib.rs
  contracts/lst_custom_msg/src/contract.rs
Labels: none

fix: update validator address
  Cargo.toml
  contracts/lst_common/src/babylon.epoching.v1.rs
  contracts/lst_common/src/binding.rs
  contracts/lst_common/src/lib.rs
  contracts/lst_custom_msg/src/contract.rs
Labels: none

chore: check slashing in the helper method
  contracts/lst_staking_hub/src/unstake.rs
Labels: staking_hub

refactor: cosmos staking to babylon epoch delegation and update response types
  Cargo.lock
  Cargo.toml
  contracts/lst_common/Cargo.toml
  contracts/lst_common/src/babylon_msg.rs
  contracts/lst_common/src/lib.rs
  contracts/lst_common/src/types.rs
  contracts/lst_staking_hub/Cargo.toml
  contracts/lst_staking_hub/src/config.rs
  contracts/lst_staking_hub/src/contract.rs
  contracts/lst_staking_hub/src/query.rs
  contracts/lst_staking_hub/src/stake.rs
  contracts/lst_staking_hub/src/unstake.rs
Labels: staking_hub

chore: change TypeUrl trait name to CosmosMsg trait
  contracts/lst_common/src/babylon_msg.rs
  contracts/lst_staking_hub/src/stake.rs
Labels: staking_hub

chore: remove result from to_any trait fn
  contracts/lst_common/src/babylon_msg.rs
  contracts/lst_staking_hub/src/stake.rs
Labels: staking_hub

refactor: use babylon redelegation msg struct
  contracts/lst_common/src/babylon_msg.rs
  contracts/lst_staking_hub/src/contract.rs
Labels: staking_hub

refactor: use babylon epoching undelegate msg struct
  contracts/lst_common/src/babylon_msg.rs
  contracts/lst_staking_hub/src/unstake.rs
Labels: staking_hub

feat: use proto to delegate, redelegate and undelegate
  Cargo.lock
  contracts/lst_common/src/babylon.epoching.v1.rs
  contracts/lst_custom_msg/src/contract.rs
  contracts/lst_staking_hub/Cargo.toml
  contracts/lst_staking_hub/src/contract.rs
  contracts/lst_staking_hub/src/stake.rs
  contracts/lst_staking_hub/src/unstake.rs
Labels: staking_hub

fix: fmt all rust files
  contracts/lst_custom_msg/src/msg.rs
  contracts/lst_reward_dispatcher/src/contract.rs
  contracts/lst_token/src/contract.rs
  contracts/lst_validators_registry/src/contract.rs
Labels: lst_token, validators_registry

chore: lockfile
  Cargo.lock
Labels: none

fix: delete test contract
  Cargo.lock
  contracts/lst_custom_msg/Cargo.toml
  contracts/lst_custom_msg/src/contract.rs
  contracts/lst_custom_msg/src/error.rs
  contracts/lst_custom_msg/src/lib.rs
  contracts/lst_custom_msg/src/msg.rs
Labels: none

fix: add resolver
  Cargo.toml
  contracts/lst_staking_hub/src/contract.rs
  contracts/lst_staking_hub/src/unstake.rs
Labels: staking_hub

feat: use proto to delegate, redelegate and undelegate (#24)
  Cargo.lock
  Cargo.toml
  contracts/lst_common/Cargo.toml
  contracts/lst_common/src/babylon.epoching.v1.rs
  contracts/lst_common/src/lib.rs
  contracts/lst_reward_dispatcher/Cargo.toml
  contracts/lst_reward_dispatcher/src/contract.rs
  contracts/lst_staking_hub/Cargo.toml
  contracts/lst_staking_hub/src/contract.rs
  contracts/lst_staking_hub/src/stake.rs
  contracts/lst_staking_hub/src/unstake.rs
  contracts/lst_token/Cargo.toml
  contracts/lst_token/src/contract.rs
  contracts/lst_validators_registry/Cargo.toml
  contracts/lst_validators_registry/src/contract.rs
Labels: staking_hub, lst_token, validators_registry

fix(errors): clearer error message
  contracts/lst_common/src/errors.rs
Labels: none

fix(errors): clearer error message (#25)
  contracts/lst_common/src/errors.rs
Labels: none

refactor: convert account addr to operator address before adding or removing validator
  contracts/lst_validators_registry/src/contract.rs
Labels: validators_registry

chore: lockfile
  Cargo.lock
Labels: none

fix: make validator instantiation infalliable by filtering success validator address only
  contracts/lst_validators_registry/src/contract.rs
Labels: validators_registry

feat: add a check for max 30% fee
  contracts/lst_common/src/errors.rs
  contracts/lst_reward_dispatcher/src/contract.rs
  contracts/lst_reward_dispatcher/src/lib.rs
Labels: none

feat: add fee check in instantiate message
  contracts/lst_reward_dispatcher/src/contract.rs
Labels: none

chore: typo fix
  contracts/lst_validators_registry/src/helper.rs
Labels: validators_registry

.github/labeler.yml:

cicd:
  - ".github/workflows/*"

scripts:
  - "scripts/*"

test:
  - "test/**"

documentation:
  - "**/*.md"

staking_hub:
  - "contracts/lst_staking_hub/**"

lst_token:
  - "contracts/lst_token/**"

validators_registry:
  - "contracts/lst_validators_registry/**"
