Repository satlayer/baby-lst, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, scripts, test, documentation, staking_hub, lst_token, validators_registry

.github/labeler.yml:

cicd:
  - ".github/workflows/*"

scripts:
  - "scripts/*"

test:
  - "test/**"

documentation:
  - "**/*.md"

staking_hub:
  - "contracts/lst_staking_hub/**"

lst_token:
  - "contracts/lst_token/**"

validators_registry:
  - "contracts/lst_validators_registry/**"

fix: todo on slashing
  contracts/lst_staking_hub/src/contract.rs
Labels: staking_hub

feat: store pending delegations while removing validator
  Cargo.lock
  contracts/lst_common/src/errors.rs
  contracts/lst_common/src/validator.rs
  contracts/lst_validators_registry/Cargo.toml
  contracts/lst_validators_registry/src/contract.rs
  contracts/lst_validators_registry/src/state.rs
Labels: validators_registry

feat: add stake and unstake amount to pending state until the end of epoch
  contracts/lst_common/src/hub.rs
  contracts/lst_staking_hub/src/constants.rs
  contracts/lst_staking_hub/src/contract.rs
  contracts/lst_staking_hub/src/query.rs
  contracts/lst_staking_hub/src/stake.rs
  contracts/lst_staking_hub/src/state.rs
  contracts/lst_staking_hub/src/unstake.rs
Labels: staking_hub

chore: update schema
  contracts/lst_staking_hub/schema/lst_staking_hub.json
  contracts/lst_staking_hub/schema/raw/instantiate.json
  contracts/lst_staking_hub/schema/raw/query.json
  contracts/lst_staking_hub/schema/raw/response_to_pending_delegation.json
Labels: staking_hub

chore: rename variables to make it generic naming
  contracts/lst_common/src/rewards_msg.rs
  contracts/lst_reward_dispatcher/src/contract.rs
Labels: none

feat: make calculations while returning pending delegation
  contracts/lst_staking_hub/src/contract.rs
  contracts/lst_staking_hub/src/query.rs
Labels: staking_hub

chore: update json schema
  contracts/lst_reward_dispatcher/schema/lst_reward_dispatcher.json
  contracts/lst_reward_dispatcher/schema/raw/execute.json
  contracts/lst_reward_dispatcher/schema/raw/instantiate.json
  contracts/lst_reward_dispatcher/schema/raw/response_to_config.json
Labels: none

feat: update rate on minting case on stake (#33)
  contracts/lst_staking_hub/src/stake.rs
Labels: staking_hub

feat: remove pausing token transfers on hub pause (#34)
  contracts/lst_token/src/contract.rs
Labels: lst_token

feat: add pending staking and unstaking amount in the queue (#37)
  contracts/lst_common/src/hub.rs
  contracts/lst_common/src/rewards_msg.rs
  contracts/lst_reward_dispatcher/schema/lst_reward_dispatcher.json
  contracts/lst_reward_dispatcher/schema/raw/execute.json
  contracts/lst_reward_dispatcher/schema/raw/instantiate.json
  contracts/lst_reward_dispatcher/schema/raw/response_to_config.json
  contracts/lst_reward_dispatcher/src/contract.rs
  contracts/lst_staking_hub/schema/lst_staking_hub.json
  contracts/lst_staking_hub/schema/raw/instantiate.json
  contracts/lst_staking_hub/schema/raw/query.json
  contracts/lst_staking_hub/schema/raw/response_to_pending_delegation.json
  contracts/lst_staking_hub/src/constants.rs
  contracts/lst_staking_hub/src/contract.rs
  contracts/lst_staking_hub/src/query.rs
  contracts/lst_staking_hub/src/stake.rs
  contracts/lst_staking_hub/src/state.rs
  contracts/lst_staking_hub/src/unstake.rs
Labels: staking_hub

feat: store pending delegations while removing validator (#36)
  Cargo.lock
  contracts/lst_common/src/errors.rs
  contracts/lst_common/src/validator.rs
  contracts/lst_validators_registry/Cargo.toml
  contracts/lst_validators_registry/src/contract.rs
  contracts/lst_validators_registry/src/state.rs
Labels: validators_registry

feat: check if lst token is already set (#35)
  contracts/lst_common/src/errors.rs
  contracts/lst_staking_hub/src/config.rs
Labels: staking_hub

chore: add attributes on add, remove validator and update config
  contracts/lst_validators_registry/src/contract.rs
Labels: validators_registry

chore: update package version and edition
  Cargo.toml
  contracts/lst_token/Cargo.toml
Labels: lst_token

refactor: remove hub contract access check to add validator allowing only owner to call this message
  contracts/lst_validators_registry/src/contract.rs
Labels: validators_registry

chore: update workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
  LICENSE
Labels: cicd

add pull_request_template.md
  .github/pull_request_template.md
Labels: documentation

add ci.yml
  .github/workflows/ci.yml
Labels: cicd

chore: update workflows (#38)
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  LICENSE
Labels: cicd, documentation

add: contract migration validation
  Cargo.lock
  contracts/lst_common/Cargo.toml
  contracts/lst_common/src/errors.rs
  contracts/lst_common/src/lib.rs
  contracts/lst_reward_dispatcher/src/contract.rs
  contracts/lst_staking_hub/src/contract.rs
  contracts/lst_validators_registry/src/contract.rs
Labels: staking_hub, validators_registry

test: staking flow
  contracts/lst_integration/tests/setup.rs
  contracts/lst_integration/tests/test_hub.rs
Labels: none

feat: do not process if there is no amount to unstake to network
  contracts/lst_staking_hub/src/unstake.rs
Labels: staking_hub

feat: do not process if there is no amount to unstake to network (#39)
  contracts/lst_staking_hub/src/unstake.rs
Labels: staking_hub

chore: format
  contracts/lst_common/src/delegation.rs
  contracts/lst_common/src/hub.rs
  contracts/lst_common/src/rewards_msg.rs
  contracts/lst_common/src/validator.rs
  contracts/lst_staking_hub/src/config.rs
  contracts/lst_staking_hub/src/query.rs
  contracts/lst_staking_hub/src/stake.rs
  contracts/lst_staking_hub/src/state.rs
  contracts/lst_staking_hub/src/unstake.rs
  contracts/lst_token/src/contract.rs
Labels: staking_hub, lst_token

fix: fail on query total lst error
  contracts/lst_staking_hub/src/stake.rs
Labels: staking_hub

chore: typo
  contracts/lst_common/src/hub.rs
Labels: none

refactor: early return in case of delegation completion
  contracts/lst_common/src/delegation.rs
Labels: none

fix: do not allow direct redelegation by owner
  contracts/lst_staking_hub/src/contract.rs
Labels: staking_hub

refactor: remove setting token version locally
  contracts/lst_token/src/contract.rs
Labels: lst_token

feat: return error if pending delegation is not found
  contracts/lst_common/src/errors.rs
  contracts/lst_validators_registry/src/contract.rs
Labels: validators_registry

chore: move edition back to 2021
  Cargo.toml
  contracts/lst_common/src/delegation.rs
  contracts/lst_common/src/hub.rs
  contracts/lst_common/src/rewards_msg.rs
  contracts/lst_common/src/validator.rs
  contracts/lst_reward_dispatcher/src/contract.rs
  contracts/lst_staking_hub/src/config.rs
  contracts/lst_staking_hub/src/contract.rs
  contracts/lst_staking_hub/src/query.rs
  contracts/lst_staking_hub/src/stake.rs
  contracts/lst_staking_hub/src/state.rs
  contracts/lst_staking_hub/src/unstake.rs
  contracts/lst_token/src/contract.rs
  contracts/lst_validators_registry/src/contract.rs
Labels: staking_hub, lst_token, validators_registry

fix: audit informational issues (#40)
  Cargo.lock
  Cargo.toml
  contracts/lst_common/Cargo.toml
  contracts/lst_common/src/delegation.rs
  contracts/lst_common/src/errors.rs
  contracts/lst_common/src/hub.rs
  contracts/lst_common/src/lib.rs
  contracts/lst_reward_dispatcher/src/contract.rs
  contracts/lst_staking_hub/src/contract.rs
  contracts/lst_staking_hub/src/stake.rs
  contracts/lst_staking_hub/src/state.rs
  contracts/lst_staking_hub/src/unstake.rs
  contracts/lst_token/Cargo.toml
  contracts/lst_token/src/contract.rs
  contracts/lst_validators_registry/src/contract.rs
Labels: staking_hub, lst_token, validators_registry

chore: rename to BABY LST
  Cargo.toml
  NOTICE
  README.md
Labels: documentation

use the correct contract name
  contracts/lst_reward_dispatcher/src/contract.rs
  contracts/lst_staking_hub/src/contract.rs
  contracts/lst_token/src/contract.rs
  contracts/lst_validators_registry/src/contract.rs
Labels: staking_hub, lst_token, validators_registry

chore: rename to BABY LST (#41)
  Cargo.toml
  NOTICE
  README.md
  contracts/lst_reward_dispatcher/src/contract.rs
  contracts/lst_staking_hub/src/contract.rs
  contracts/lst_token/src/contract.rs
  contracts/lst_validators_registry/src/contract.rs
Labels: documentation, staking_hub, lst_token, validators_registry

chore: clean up lst_token
  contracts/lst_token/src/bin/schema.rs
  contracts/lst_token/src/contract.rs
  contracts/lst_token/src/msg.rs
Labels: lst_token

chore: refactor lst_token (#42)
  contracts/lst_token/src/bin/schema.rs
  contracts/lst_token/src/contract.rs
  contracts/lst_token/src/msg.rs
Labels: lst_token
